* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.row:before,
.row:after {
    content: " ";
    clear: both;
    display: table;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

body {
    font-family: $brand-font;
}

.container {
  width: 100%;
  margin: auto;
  padding: 15px;
  background-color: $backgroundColor;
}
.content .section {
        border: 1px solid $seckondcolor;
        margin-top: 20px;
        box-shadow: 2px 2px 5px $seckondcolor;
        background-color: $firstcolor;
}

.container-fluid {
  width: 100%;
  padding: 15px;
}

@for $i from 1 through 12 {
  .col-sm-#{$i} {
    $width: 100% / 12 * $i;
    flex: 0 0 $width;
    max-width: $width;
  }
}

[class*="col-"] {
    float: left;
    min-height: 1px;
    width: 100%;
    padding: 20px; 
}

.col-1 {flex: 8.333%;}
.col-2 {flex: 16.667%;}
.col-3 {flex: 25%;}
.col-4 {flex: 33.333%;}
.col-5 {flex: 41.667%;}
.col-6 {flex: 50%;}
.col-7 {flex: 58.333%;}
.col-8 {flex: 66.667%;}
.col-9 {flex: 75%;}
.col-10 {flex: 83.333%;}
.col-11 {flex: 91.667%;}
.col-12 {flex: 100%;}


.col-offset-0 {margin-left: 0}
.col-offset-1 {margin-left: 8.33%;}
.col-offset-2 {margin-left: 16.66%;}
.col-offset-3 {margin-left: 25%;}
.col-offset-4 {margin-left: 33.33%;}
.col-offset-5 {margin-left: 41.66%;}
.col-offset-6 {margin-left: 50%;}
.col-offset-7 {margin-left: 58.33%;}
.col-offset-8 {margin-left: 66.66%;}
.col-offset-9 {margin-left: 75%;}
.col-offset-10 {margin-left: 83.33%;}
.col-offset-11 {margin-left: 91.66%;}
.col-offset-12 {margin-left: 100%;} 

/* MEDIA QUERIES */

@media(max-width: 767px) {
  @include grid('sm');
    .container {
        background-color: none;
    }
    .content .section {
        box-shadow: none;
    }
}

@media(min-width: 768px) {
  @include grid('md');
}

@media(min-width: 992px) {
  @include grid('lg');
}

@media(min-width: 1200px) {
  @include grid('xl');
}


