/* Colors */
$firstcolor: #FFFFFF;
$secondcolor: #a5a4a5;
$thirdcolor: #DDDDDD;
$paragraph-color: #191919;
$brand-main-color: #f58220;
$menuHoverColor: #282828;
$backgroundColor: #f4f4f2;
$signupsColor: #70bec8;
$activeColor: #f0f3f3;

/* Font sizes */
$paragraph-font-size: 16px;

/* Fonts */
$brand-font: "Open Sans", Helvetica, Arial;
$paragraph-font: "Open Sans", Helvetica, Arial;