/* Colors */
$firstcolor: #FFFFFF;
$seckondcolor: #C0C0C0;
$thirdcolor: #DDDDDD;
$paragraph-color: #191919;
$brand-main-color: #f58220;
$menuHoverColor: #282828;

/* Font sizes */
$paragraph-font-size: 16px;

/* Fonts */
$brand-font: "Open Sans", Helvetica, Arial;
$paragraph-font: "Open Sans", Helvetica, Arial;