body {
	
	margin-top: 40px;
	margin-left: 160px;
}

div .content {
	height: 100%
}

/* MEDIA QUERIES */

@media(max-width: 767px) {
  @include grid('sm');

  body {
  	margin-top: 0;
  	margin-left: 50px;
  }
}
