.detailsName{
	color: $seckondcolor;
	text-transform: uppercase;
    text-align: left;
    padding: 5px 15px;
    font-size: 15px;
}	

.detailsCalendar {	
	display: flex;
	padding: 50px 0;
	justify-content: center;
	align-items: center;
	border-top: 1px solid $seckondcolor;
	border-bottom: 1px solid $seckondcolor;
			
	.windowOne {
		display: inline-block;
		border: 1px solid $seckondcolor;
		padding: 10px;
	}
	.calendarWindowWithIcon {
		border: 1px solid $seckondcolor;
		padding: 10px;
	
		.windowTwo {
			display: inline-block;
			border: none;
		}
		.icon-calendar {
			padding: 0px;
		}
	}
	.icon-refresh {
		border: none;
		padding: 10px 12px;
		margin-left: 5px;
		background-color: $brand-main-color;
		border-radius: 8px;
		color: $firstcolor;
	}
}

.detailsTable{
	.scroll-wrapper {
		display: block;
		width: 100%;
		overflow-x: auto;

		table {
			width: 100%;
			max-width: 100%;
			border-collapse: collapse;
					
			thead {
				border-bottom: 1px solid $seckondcolor;
						
				tr {
					border-bottom: 1px solid $seckondcolor;

					th {
						color: $seckondcolor;
						padding: 15px 0;
						&:hover {
						background-color: $thirdcolor;
						opacity: 1;
						}
					}
				}

			}

			tbody {
				tr {
					border-bottom: 1px solid $seckondcolor;
					&:hover {
						background-color: $thirdcolor;
						opacity: 1;
					}
					
					td {
						text-align: center;	
						font-weight: bold;	
						padding: 15px 0;
					}				
				}
			}
		}
	}
	.center {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		
		.pagination {
    		display: inline-block;
    		padding: 15px;
    		margin: 0;
    		
    		li {
    			display: inline;

    			a {
    				color: $signupsColor;
    				float: left;
    				padding: 8px 16px;
    				text-decoration: none;
    				&.active {
    					background-color: $activeColor;
    					color: $seckondcolor;
					}
					.arrow {
						color: $seckondcolor;
					}
				}
    		}
		}
	}
}
