.content {
	.generalSection {
		border: 1px solid $seckondcolor;
		margin-top: 100px;
		margin-left: 140px;
		box-shadow: 2px 2px 5px #444;
		
		.generalName{
			color: $seckondcolor;
			text-transform: uppercase;
            text-align: left;
            padding-left: 5px;
            font-size: 15px;
		}	

		.generalCalendar {	
			display: flex;
			width: 100%;
			padding: 50px 0;
			justify-content: center;
			align-items: center;
			border-top: 1px solid $seckondcolor;
			border-bottom: 1px solid $seckondcolor;
			
			.windowOne {
				display: inline-block;
				border: 1px solid $seckondcolor;
				padding: 10px;
			}
			.calendarWindowWithIcon{
				border: 1px solid $seckondcolor;
				padding: 10px;
	
				.windowTwo {
					display: inline-block;
					border: none;
				}
				.icon-calendar {
					padding: 0px;
				}
			}
			.icon-refresh {
				padding: 10px 12px;
				margin-left: 5px;
				background-color: $brand-main-color;
				border-radius: 8px;
				color: $firstcolor;
			}
		}
		.generalLine {	
			display: flex;
			justify-content: center;
			align-items: center;

			.generalLineStatistic {
				width: 50%;

				.statistic {
					display: flex;
					margin: 20px 0;
					
					.lineStatistic {

						.lineElement {
							display: flex;
							align-items: left;
							width: 100%;
							padding: 20px;
							border-bottom: 1px solid $seckondcolor;
							
							
							.col-6 {	
								padding: 0;

								.lineName {
									color: $seckondcolor;
									font-size: 15px;									
								}
							}
							
							.col-6 {
								padding: 0;

								.lineData {
									font-size: 15px;
									text-align: right;
									
								}
							}						
						}
					}
				}						
			}
		}
		
		.generalImg{
			display: flex;
			justify-content: center;
			align-items: center;

			img {
				margin: 20px 0;
			}
		}
	}
	
}