.content {
	.generalSection {
		border: 1px solid $seckondcolor;
		margin-top: 100px;

		.generalName{
			color: $seckondcolor;
			text-transform: uppercase;
            text-align: left;
            padding-left: 5px;
            font-size: 15px;
		}	

		.calendar {	
			display: flex;
			width: 100%;
			padding: 50px 0;
			justify-content: center;
			align-items: center;
			border-top: 1px solid $seckondcolor;
			border-bottom: 1px solid $seckondcolor;
			
			.windowOne {
				display: inline-block;
				border: 1px solid $seckondcolor;
				padding: 10px;
			}
			.calendarWindowWithIcon{
				border: 1px solid $seckondcolor;
			padding: 10px;
	
				.windowTwo {
					display: inline-block;
					border: none;
				}
				.icon-calendar {
					padding: 0px;
				}
			}
			.icon-refresh {
				padding: 10px 12px;
				margin-left: 5px;
				background-color: $brand-main-color;
				border-radius: 8px;
				color: $firstcolor;
			}
		}	
		.lineStatistic {
			display: flex;
			justify-content: center;
			align-items: center;
			width: 100%;
			margin: 20px 0;
			padding-left: 160px;
			
			.lineName {
				color: $seckondcolor;
				font-size: 15px;
			}
			.lineData {
				font-size: 15px;

			}						
		}
		
		img {
			margin: 20px 0;
			display: flex;
			justify-content: center;
			align-items: center;
			padding-left: 160px;
		}
	}
	
}