header {
    display: flex;
    justify-content: flex-end;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: $firstcolor;
    border-bottom: 1px solid $seckondcolor;  
    z-index: 1;

    .mainMenu 
        .row {
            display: flex;
        ul {
            display: flex;
            justify-content: flex-end;
            background-color: $firstcolor;
            list-style-type: none;
            

            li {
                padding: 20px 15px;
                color: $seckondcolor;
                font-size: 15px;
                text-decoration: none;
                border-left: 1px solid $seckondcolor;
                
                .userName {
                    color: $signupsColor;
                }
                a {
                    color: $seckondcolor;
                    text-decoration: none;

                    

                    .icon-wallet {
                        padding: 0 7px;
                    }
                    .icon-arrow-down {
                        padding: 0 7px;
                    }
                    .icon-profile{
                        padding: 0 7px;
                        color: $seckondcolor;
                    }
                    .icon-notification {
                        padding: 0 10px;
                        position: relative; 

                        .notificationCircle {
                            background-color: $brand-main-color;
                            border-radius: 50%;
                            position: absolute;
                            top: 0;
                            right: 0;
                            width: 8px;
                            height: 8px;
                        }
                    }
                    .icon-quit {
                        padding: 0 7px;
                        display: flex;
                        justify-content: center;
                    }
                }
            }
            .narrowSpace{
                width: 50px;
                padding: 20px 0;
            }
        }
        }
}   

@media (max-width: 768px) {
.mainMenu {
      display: none;
    }
} 