.content {
	.linksSection {
		border: 1px solid $seckondcolor;
		margin-left: 140px;
		margin-top: 20px;
		box-shadow: 2px 2px 5px #444;

		.linksSectionName {
			color: $seckondcolor;
			text-transform: uppercase;
	        text-align: left;
	        padding-left: 5px;
	        font-size: 15px;
	        border-bottom: 1px solid $seckondcolor;		
		}

		.main-container{
			display: flex;
			justify-content: center;
			align-items: center;
			
			.main-containerLink{
				

				.linkButton {
					border-bottom: 1px solid $seckondcolor;
					width: 50%;

					.buttonAddNew{
					background-color: $brand-main-color;
					border: 1px solid $brand-main-color;
					color: $firstcolor;
					padding: 5px;
					display: flex;
					ext-align: center;
		    		flex: 1;
		    		margin: auto;
					}
				}
				.linkLine {
					display: flex;
					justify-content: center;
					align-items: center;
					width: 50%;
					padding-left: 160px;
					border-bottom: 1px solid $seckondcolor;

						.linkName{
							color: $seckondcolor;
						}
					.linkLayerRow {
						position: relative;
			
						.linkAderss{
							object-fit: cover;
			
							.linkLayer{
								width: 100%;
								height: 100%;					
								position: absolute;
								top: 0;
								left: 0;
								text-align: center;
								opacity: 0;
								transition: .3s;
			
								&.linkLayer:hover {
								background-color: $thirdcolor;
								opacity: 1;
								}
							}
						}
					}
				}
			}		
		}
	}
}