.sidebar {
      height: 100%;
      width: 160px;
      position: fixed;
      z-index: 2;
  		top: 0;
      left: 0;
  		background-color: $paragraph-color;
  		position: fixed;
  		height: 100%;
      overflow-x: hidden;
      padding-top: 16px;  
      padding-left: 10px;		
      .sideNavigation{
        .logoSing {
          display: flex; 
          align-items: center;
          .buttonToExpand div {
            display: block;
            width: 20px;
            height: 1px;
            background-color: $firstcolor;
            margin: 6px 0;
          }
          .logoPhoto{
            max-width:90px;
            height:auto;
          }
      ul { 
        li {
          a {
  			   padding: 10px 0;
  			   text-decoration: none;
  			   font-size: 15px;
  			   color: $seckondcolor;
  			   display: block;
  			   &:hover {
  			   	color: #f1f1f1;
  			   }
            p {
              text-transform: uppercase;
              text-align: center;
              font-size: 13px;
              padding-top: 40px;
              padding-right: 25px;
            .managerChat{
              display: flex; 
              align-items: center;
              position: relative;
              .managerPhoto {
                display: flex; 
                align-items: center;
                display: inline-block;
                border-radius: 50%;
                width: 40px;
                height: 40px;
                margin-top: 10px;
                text-align: center;
              }
              .nameManager {
                display: flex; 
                align-items: center;
                position: absolute;
                top: 20px; 
                left: auto;
              }
            }
            }
          } 
        }
  		}
      }
      }
}